/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  margin: 0;
  color: #333;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  display: flex;
  height: 100vh; /* Make the container take up the full height of the viewport */
}

.Menu {
  margin: 0;
  padding: 0;
  flex: 0 0 20%; /* Make the menu section take up 20% of the width */
  display: flex;
  flex-direction: column;
  
}

.Home {
  flex: 1; /* Make the home section take up remaining width */
  padding: 20px;
  background-color: #ccccff; /* Unique background color for the Home section */
}



.menu-buttons {
  flex: 1; /* Occupy remaining height after logo and contact us */
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Arrange buttons evenly in the available space */
  background-color: #ffffff;
}

.logo {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 20%; /* Adjusted to take 20% of the height */
  background-color: #FF5151; /* Adjust color as needed */
  color: #ccb4b4; /* Text color */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  
}
.logo h2{
  color:white;
}
.logo-text {
  text-transform: uppercase; /* Optional: Convert text to uppercase */
}


.menu-buttons button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ccb4b4;
  background-color: inherit;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.menu-buttons button:hover {
  background-color: #FF5151;
  color: #ffffff;
}

.contact-us {
  height: 20%;
  margin-top: 10px; /* Adjust spacing as needed */
  
}
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons a {
  display: inline-block;
  margin: 20px 10px 5px; /* Adjust the spacing between icons as needed */
  font-size: 18px; /* Adjust the icon size as needed */
  color: inherit; /* Take color from parent element */
  transition: color 0.3s; /* Smooth transition for color change on hover */
}

.social-media-icons a:hover {
  color: inherit; /* Change color on hover */
}
